footer {
    width: 100%;
    height: 125px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    background-color: #010080;

    .logo {
        width: 125px;
        height: 125px;
        background-image: url(../images/works-footer.png);
    }

    .copy {
        font-size: 20px;
        color: #ffffff;
    }

    .contact {
        margin-right: 10px;
        p {
            font-size: 20px;
            color: #ffffff;

        }
    }
}
